@using System.Security.Claims
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "AccessDenied";
}

<h1>@Localizer["AccessDeniedInfo"]</h1>
<div>@Localizer["YourRole"] @ViewBag.CurrentRole</div>

