@model PlattformChallenge.ViewModels.ChangePasswordViewModel
@inject IViewLocalizer Localizer
<h2>Change Password</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"> </div>
            <input asp-for="Email" type="hidden" />

            <div class="form-group">
                <label asp-for="Original"> @Localizer["Original"]</label>
                <input asp-for="Original" class="form-control" />
                <span asp-validation-for="Password" class="text-danger">
                </span>
            </div>
            <div class="form-group">
                <label asp-for="Password">  @Localizer["NewPassword"]</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger">
                </span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"> @Localizer["NewPasswordConfirm"]</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="textdanger">
                </span>
            </div>
            <button type="submit" class="btn btn-primary">@Localizer["Submit"]</button>
        </form>
    </div>
</div>
