@*@model PlattformChallenge.Core.Model.Challenge*@
@model PlattformChallenge.ViewModels.ChallengeEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>


<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Challenge.C_Id" />

            <div class="form-group">
                <label asp-for="Challenge.Title" class="control-label">Title of your challenge</label>
                <input asp-for="Challenge.Title" class="form-control" />
                <span asp-validation-for="Challenge.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Challenge.Content" class="control-label">Discription for your challenge</label>
                <textarea asp-for="Challenge.Content" class="form-control" style="height:250px"></textarea>
                <span asp-validation-for="Challenge.Content" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="Release_Date" class="control-label"></label>
            <input asp-for="Release_Date" class="form-control" />
            <span asp-validation-for="Release_Date" class="text-danger"></span>
        </div>*@
            <input type="hidden" asp-for="Challenge.Release_Date" />
            <input type="hidden" asp-for="Challenge.Com_ID" />
            <div class="form-group">
                <label asp-for="Challenge.Bonus" class="control-label">Bonus for the best solution (in €)</label>
                <input asp-for="Challenge.Bonus" class="form-control" />
                <span asp-validation-for="Challenge.Bonus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Challenge.Max_Participant" class="control-label">Maximum Participants</label>
                <input asp-for="Challenge.Max_Participant" class="form-control" />
                <span asp-validation-for="Challenge.Max_Participant" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label class="control-label">Languages : </label>
            @for (int i = 0; i < Model.Languages.Count; i++)
            {
                <span clss="form-check m-1">
                    <input asp-for="@Model.IsSelected[i]" class="from-check-input" />
                    <label class="form-check-label" asp-for="@Model.IsSelected[i]">@Model.Languages.ElementAt(i).DevelopmentLanguage</label>
                    <input type="hidden" asp-for="@Model.Languages.ElementAt(i).Language_Id" />
                </span>
            }
        </div>
            <div class="form-group">
                <label asp-for="Challenge.Winner_Id" class="control-label"></label>
                <input asp-for="Challenge.Winner_Id" class="form-control" />
                <span asp-validation-for="Challenge.Winner_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Challenge.Best_Solution_Id" class="control-label"></label>
                <input asp-for="Challenge.Best_Solution_Id" class="form-control" />
                <span asp-validation-for="Challenge.Best_Solution_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
