@model PlattformChallenge.Core.Model.Challenge


<p>please confirm the conditions: your solution will be published if you win the prize. </p>
<a asp-action="ParticipateChallenge" asp-route-id="@Model.C_Id">Yes I'm in!</a>
<a asp-action="Index">No</a>
