@using Microsoft.AspNetCore.Identity
@inject SignInManager<PlatformUser> _signInManger

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Programming Challenge Platform</h1>
    <img src="~/images/logo1x1.PNG" alt="">
   
</div>
