@inject IViewLocalizer Localizer

@{ ViewBag.Title = "404 Error"; }

<div class="alert alert-danger mt-1 mb-1">
    <h4>404 Error:</h4>
    <hr />
    <h5>
        @ViewBag.ErrorMessage
    </h5>
</div>
<div class="row">
    <div class="col-md-3">
        <a asp-controller="home" asp-action="index" class="btn btn-outline-success"
           style="width:auto">@Localizer["ClickBackToHome"]</a>
        </div>
    <div class="col-md-3">
        @if (ViewContext.HttpContext.User.IsInRole("Company"))
        {
            <div class="btn-group btn-group-justified">    <a asp-controller="Company" asp-action="Index" class="btn btn-primary ">@Localizer["GoToMyPortal"]</a></div>
        }
        @if (ViewContext.HttpContext.User.IsInRole("Programmer"))
        {
            <div class="btn-group btn-group-justified">    <a asp-controller="Programmer" asp-action="Index" class="btn btn-primary ">@Localizer["GoToMyPortal"]</a></div>
        }
    </div>

       
    </div>
